<div class="container-fluid custom-background">
  <div class='row'>
    <nav class="navbar navbar-expand-md">
      <!-- Brand -->
      <a class="navbar-brand">{{title}}</a>
      <div>
        <ul class="nav-link navbar-nav navStyle">
          <!-- Add Router links here -->
          <li *ngIf='username' [routerLink]="['/employees']">Employee List</li>
          <li *ngIf='username' [routerLink]="['/add']">Add Employee</li>
          <li *ngIf='username' (click)="logoutMethod()" class="logoutClass h5">Logout</li>
        </ul>
      </div>
    </nav>
  </div>
  <div class='row'>
    <!--Add router outlet tag here -->
    <router-outlet></router-outlet>
  </div>
</div>