.card{
    border: 0;
    padding: 5px;
 }
 .card-header,.card-footer{
     background-color: #66b2b2;
 }
 .card-body{
     background-color: #cff4fc;
 }

.custom-padding{
    padding: 15px !important;
}